<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#" title="Brand">
        <img style="max-width:100px; margin-top: -7px;" src="./images/yc.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav btn-grp">
      <li class="color-green"><a href="/#view1">Top Stories</a></li>
      <li class="color-green"><a href="/#view2">New Stories</a></li>
    </ul>
  </div>
</nav>
