/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.color-green{
  background-color: #33cc33;
}

.glyphicon{
    display: inline-block;
    position: absolute;
    margin-left:0.25em;
    top: 30%;
}
.margin-vertical{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.no-margin-vertical{
    margin-top: 0em;
    margin-bottom: 0em;
}
