<div class="container-fluid" ng-controller = "ctCtrl">
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleAddTask">Task Description</label>
      <div class="input-group">
        <input type="text" class="form-control" id="todo" placeholder="To Do ..." ng-model="description">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" id="tags" placeholder="comma seperated tags" ng-model="tags">
      </div>
    </div>
  <button type="submit" class="btn btn-success" ng-click="addItem()"> New Task <span class="glyphicon glyphicon-plus"></span></button>
  </form>
</div>
<div class="container panel-body input-group" ng-controller="tagCtrl">
  <tags-input class="form-control" ng-model="tags">
        <auto-complete source="loadTags($query)"></auto-complete>
  </tags-input>
</div>
<div class="panel container" ng-controller = "gtCtrl">
  <ul class="list-group" ng-repeat = "task in tasks track by $index">
    <li class="list-group-item"> {{ task.task.description }} </li>
  </ul>
</div> 
